* {
  margin: 0;
  padding: 0;
}

body {
  overflow: scroll;
  background-color: #f3f3f3;
}

.navbar {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 5px 0 grey;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar > svg {
    margin-left: 50px;
}
.navbar > ul {
  position: absolute;
  right: 50px;
  gap: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
